@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 263 100% 97%;
    --foreground: 263 50% 20%;
    --card: 263 100% 97%;
    --card-foreground: 263 50% 20%;
    --popover: 263 100% 97%;
    --popover-foreground: 263 50% 20%;
    --primary: 263 100% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 263 100% 90%;
    --secondary-foreground: 263 50% 20%;
    --muted: 263 100% 90%;
    --muted-foreground: 263 20% 45%;
    --accent: 27 100% 67%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 0 0% 98%;
    --border: 263 100% 88%;
    --input: 263 100% 88%;
    --ring: 263 100% 67%;
    --chart-1: 263 100% 67%;
    --chart-2: 27 100% 67%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.8rem;
  }
 
  .dark {
    --background: 263 20% 10%;
    --foreground: 0 0% 98%;
    --card: 263 20% 10%;
    --card-foreground: 0 0% 98%;
    --popover: 263 20% 10%;
    --popover-foreground: 0 0% 98%;
    --primary: 263 100% 67%;
    --primary-foreground: 0 0% 100%;
    --secondary: 263 20% 20%;
    --secondary-foreground: 0 0% 98%;
    --muted: 263 20% 20%;
    --muted-foreground: 0 0% 63.9%;
    --accent: 27 100% 67%;
    --accent-foreground: 27 100% 10%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 0 0% 98%;
    --border: 263 20% 20%;
    --input: 263 20% 20%;
    --ring: 263 100% 67%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
  h1, h2, h3, h4, h5, h6 {
    @apply font-headline;
  }
}
